<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 引入jdbc配置文件 -->
    <context:property-placeholder location="classpath:conf/jdbc.properties"/>

    <!-- 扫描文件（自动将service层注入） -->
    <!--  <context:component-scan base-package="cn.springmvc.service"/>-->
    <!--
        <context:component-scan base-package="project"/>
    -->

    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter"></bean>
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
    <bean id="jsonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
    <bean id="formHttpMessageConverter" class="org.springframework.http.converter.FormHttpMessageConverter"></bean>
    <bean id="conversionService" class="org.springframework.format.support.DefaultFormattingConversionService"/>
    <!--<bean id="projectService" class="project.dao.impl.ProjectServiceImpl"></bean>-->
    <!--<bean id="deptService" class="hrm.dao.impl.DeptServiceImpl"></bean>-->
    <!--<bean id="employeeService" class="hrm.dao.impl.EmployeeServiceImpl"></bean>-->
    <!--<bean id="customerService" class="crm.dao.impl.CustomerServiceImpl"></bean>-->
    <!--<bean id="companyService" class="hrm.dao.impl.CompanyServiceImpl"></bean>-->
    <!--<bean id="claimService" class="claim.dao.impl.ClaimServiceImpl"></bean>-->
    <!--<bean id="contractService" class="contract.dao.impl.ContractServiceImpl"></bean>-->
    <!--<bean id="expenseService" class="expense.dao.impl.ExpenseServiceImpl"></bean>-->
    <!--<bean id="statementService" class="statement.dao.impl.StatementServiceImpl"></bean>-->
    <!--<bean id="attachmentService" class="basic.dao.impl.AttachmentServiceImpl"></bean>-->
    <!--<bean id="loginService" class="login.dao.impl.LoginServiceImpl"></bean>-->
    <!--<bean id="privilegesService" class="hrm.dao.impl.PrivilegesServiceImpl"></bean>-->
    <!--<bean id="accountService" class="account.dao.impl.AccountServiceImpl"></bean>-->
    <!--&lt;!&ndash;拦截器出现问题&ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash;<bean id="allInterceptor" class="com.base.interceptor.AllInterceptor"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mvc:interceptor>&ndash;&gt;-->
            <!--&lt;!&ndash;<mvc:mapping path="/*/**" />&ndash;&gt;-->
            <!--&lt;!&ndash;<bean id="CommonInterceptor" class="com.base.interceptor.CommonInterceptor"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</mvc:interceptor>&ndash;&gt;-->
        <!--&lt;!&ndash;<mvc:interceptor>&ndash;&gt;-->
            <!--&lt;!&ndash;<mvc:mapping path="/**"/>&ndash;&gt;&lt;!&ndash;filter.loginInterceptor已停止使用&ndash;&gt;-->
            <!--&lt;!&ndash;<bean id="loginInterceptor" class="filter.LoginInterceptor"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</mvc:interceptor>&ndash;&gt;-->
    <!--<mvc:interceptor>-->
    <!--<mvc:mapping path="/admin/*"/>-->
    <!--<bean id="loginInterceptor" class="platform.filter.MemberInterceptor"/>-->
    <!--</mvc:interceptor>-->
    <!--<mvc:interceptor>-->
    <!--<mvc:mapping path="/aitouwang/*"/>-->
    <!--&lt;!&ndash;事实证明。真的没有任何关系跟loginInterceptor&ndash;&gt;-->
    <!--<bean id="loginInterceptor2" class="platform.filter.MemberInterceptor"/>-->
    <!--</mvc:interceptor>-->
<!--</mvc:interceptors>-->

<!-- 启动Spring MVC的注解功能????这个抄的，待研究 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <!--DateTimeFormat-->
        <property name="webBindingInitializer">
            <bean class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
                <property name="conversionService" ref="conversionService" />
            </bean>
        </property>
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
                <ref bean="stringHttpMessageConverter"/>
                <ref bean="jsonHttpMessageConverter"/>
                <ref bean="formHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为1MB -->
        <property name="maxUploadSize">
            <value>1048576</value>
        </property>
        <property name="resolveLazily">
            <value>true</value>
        </property>
    </bean>

</beans>